{% extends 'base.html.twig' %}

{% block title %}NewsItem index{% endblock %}

{% block body %}
    <h1>NewsItem index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news_item in news_items %}
            <tr>
                <td>{{ news_item.id }}</td>
                <td>{{ news_item.title }}</td>
                <td>{{ news_item.content }}</td>
                <td>
                    <a href="{{ path('news_item_show', {'id': news_item.id}) }}">show</a>
                    <a href="{{ path('news_item_edit', {'id': news_item.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('news_item_new') }}">Create new</a>
{% endblock %}
